*{
    padding: 0px;
    margin: 0px;  
}
body{
    padding: 0px;
    margin: 0px;    
    background-color: #2e3047;
}
.probandoClassName{
    color: green;
    background-color:blue;
    font-size: 5rem;
}
.nav-box{
    height: 13vh;
}
nav{
    background-color: red;
    height: 100%;
}
nav ul{
    display: flex;
    background-color: #2e3047;
    height: 100%;
    line-height: 10vh;
}
nav ul li{
    list-style: none;
    padding: 10px;
    font-size: 25px;
}
nav ul li a{
    color: white;
    text-decoration: none;
}
.titel-inicio{
  font-family:"-apple-system" ;
  font-size:5rem ;
  font-weight:1.5 ;
  color: white;
  background-color:#2e3047 ;
  text-align: center;
}
.box-bd{
    display: flex;
    background-color: rgb(46, 48, 71);
    height: 72.8vh;
    flex-direction: row;
}
.box-bd-device{
    display: none;
        background-color: rgb(46, 48, 71);
        height: 80vh;
        flex-direction: column;
}
.box-mysql{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 1px solid white;
    transition: flex 1s ease-out, opacity 0.3s ease-out;
    /*-webkit-transform: skew(20deg);
     -moz-transform: skew(20deg);
     -ms-transform: skew(20deg);
     -o-transform: skew(20deg);
     transform: skew(20deg);*/

}
.box-mongodb{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: flex 1s ease-out, opacity 0.3s ease-out;
}

.box-mongodb:hover{
  background-image: url(MongoDB_Logo.svg.png),linear-gradient(90deg, rgba(8,200,92,1) 37%, rgba(9,147,78,1) 52%);
  background-size:contain; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
  background-repeat: no-repeat;
  flex: 2;
}
body:has(.box-mongodb:hover) .box-mongodb p {
    margin-top: 25vh;
  }
/*body:has(.box-mongodb:hover) .box-mysql {
    background: orange;
    display: none;
  }*/
.box-mysql:hover{
    background-color: purple;
    background-image: url(../assets/mysql_back.png),linear-gradient(90deg, rgba(228,142,0,1) 27%, rgba(0,97,138,0.7707457983193278) 66%);
    background-size:contain; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
    background-repeat: no-repeat;
    flex: 2;
  }
  body:has(.box-mysql:hover) .box-mysql p {
    margin-top: 25vh;
  }
.box-bd p{
    color: white;
    font-size: 10vh;
    /*background-color: #02455a;*/
    padding: 10px;
    cursor: pointer;
}
.box-mongodb p:hover ,.box-mysql p:hover {
    background-color: rgb(46, 48, 71);
    padding: 2vh;
}
.login-zone{
    display: flex;
    flex-direction: column;
    background-color: rgb(46, 48, 71);;
    align-items: center;
    padding:11vh 21vh ;
}
.form-class{
    width: 31%;
    height: 38vh;
    padding: 3.5vh;
    background: linear-gradient(141deg, rgba(228,142,0,1) 6%, rgba(0,97,138,0.7707457983193278) 41%, rgba(9,147,78,0.5998774509803921) 84%, rgba(8,200,92,0.7651435574229692) 100%);
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    gap: 33px;
    align-items: center;
    border-radius: 11vh;
}
.login-zone  h2{
    /*margin-bottom: -2vh;*/
    color: white;
}
.login-zone  h1{
    margin-bottom: 1vh;
    color: white;
    text-align: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 7vh;
    border: none;
    /*border-bottom: 4px solid red;*/
    padding: 0.8vh;
    font-size: 4vh;
  }
  .login-zone .but-login,
  .login-zone .but-registro{
    width: 80%;
    height: 5vh;
    border: 5px solid lightblue;
    /* border-bottom: 4px solid red; */
    background-color: lightblue;
    border-radius: 1vh;
    font-size: 3.5vh;
    transition: background-color 0.3s, transform 0.3s;
    cursor: pointer;
  }
  .login-zone button:active {
    transform: scale(0.95);
  }
  .login-zone h2,
  .login-zone input[type="text"],
  .login-zone input[type="password"],
  .login-zone .but-login{
    margin-bottom: -3vh;
}

.buttons-design{
    background-color: #2e3047;
    color: white;
    padding: 5vh;
}
.style-home{
    background-color: #2e3047;
    height: 100vh
}
.style-banner{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.style-home h2{
    text-align: center;
    padding: 5vh;
    font-size: 10vh;
    color: white;
    width: 100%;
}
.style-banner button{
padding: 2vh;
    width: 20%;
    font-size: 3vh;
    margin-right: 2vh;
}
.crud-section{
background-color: #2e3047;
padding: 5vh;
/*height: 82.5vh;*/
}
.crud-section section{
    width: 60%;
    }
.crud-section .buttons-design {
  background-color: #2e3047;
  border:3px solid rgba(13,67,133,1);
  /*border-radius: 10px;*/
  border-top-right-radius: 9px;
  border-top-left-radius: 9px;
  outline: none;
  cursor: pointer;
  padding: 4vh;
  transition: 0.3s;
  font-size: 17px;
}
.crud-section section{
    background-color: white;
    border: 1vh solid rgba(13,67,133,1);
}
.prueba-espacio{
    word-wrap: break-word;
}

.style-form{
        background-color: #2e3047;
        padding: 6vh;
        display: flex;
        flex-direction: column;
    }

.style-form input[type="text"],
.style-form input[type="password"]{
    margin-bottom: 3vh;
    width: 80%;
    height: 6vh;
    border: none;
    /* border-bottom: 4px solid red; */
    padding: 0.8vh;
    font-size: 4vh;
  }
  .style-form input[type="file"]{
    margin-bottom: 3vh;
    height: 6vh;
    font-size: 3vh;
  }

  .but-agregarSubmit{
    background-color: #2e3047;
    border: 3px solid rgba(13,67,133,1);
    cursor: pointer;
    padding: 3vh 0vh;
    transition: 0.3s;
    font-size: 22px;
    width: 48%;
    color: white;
}
.disabled{
    border: 3px solid #b5b5b5;
    background-color: #b5b5b5;
    color:#9f9e9e !important;
    cursor: not-allowed;
    }
.style-mostrar{
    padding: 6vh 0vh;
    background-color:#2e3047
}


.style-form h2,
.style-mostrar h2{
    padding: 3vh;
    text-align: center;
    font-size: 5vh;
    color: white;
}

.style-mostrar ul{
    padding: 1.5vh;
    list-style: none;
    border-top:2px solid rgba(13,67,133,1);;
    color: aliceblue;
}
.style-mostrar ul li p {
    display: inline-block;
    font-size: 8vh;
    width: 49.5%;
    overflow-y: scroll;
}
.style-mostrar ul li p:nth-child(2) {
    margin-left: 1vh;
}
.style-mostrar ul li p::-webkit-scrollbar {
    display: none; /* Oculta la barra de desplazamiento en Webkit (Chrome, Safari, Opera) */
  }
.style-mostrar input[type="text"], .style-mostrar input[type="password"] {
    width: 90%;
    height: 7vh;
    border: none;
    padding: 0.7vh;
    font-size: 7vh;
}
.style-mostrar img{
    width: 100%;
    height: 50vh;
}
.section-editbuttons{
    display: inline-flex !important;
    flex-direction: row;
    justify-content: space-between;
    width: 100% !important;
    margin-top: 1vh;
}
.but-editarSubmit{
    background-color: #2e3047;
    border: 3px solid rgba(13,67,133,1);
    cursor: pointer;
    padding: 3vh 0vh;
    transition: 0.3s;
    font-size: 22px;
    width: 48%;
    color: white;
}
.but-editarConfirmar{
    background-color: rgba(13,67,133,1);
    border: 3px solid rgba(13,67,133,1);
    cursor: pointer;
    padding: 3vh 0vh;
    transition: 0.3s;
    font-size: 22px;
    width: 48%;
    color: white;
}
.but-editarSubmit:not(:disabled):hover,.but-agregarSubmit:not(:disabled):hover{
    background-color: rgba(13,67,133,1);
}
.error-message{
    width: 50%;
    margin-top: 1vh;
    font-size: 3.5vh;
    color: rgb(205 0 0);
    background-color: #FFCDC7;
    padding: 1vh 1vh;
    text-align: center;
}
.facebook-button-container {
   margin-top: 1vh;
   width: 25%;
  }
.my-facebook-button-class {
    width: 100%;
    font-family: Helvetica, sans-serif;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 2vh;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color .3s, border-color .3s;
    background-color: #4c69ba;
    border: calc(.06887vw + .67769px) solid #4c69ba;
    padding: 2vh 5vh;
}
.my-facebook-button-class .fa {
    margin-right: calc(.34435vw + 3.38843px);
}
.my-facebook-button-class:hover {
    background-color: #365899; /* Color de fondo al pasar el ratón */
  }
/*medias queries*/
@media (max-width: 1024px) {
  /*  .titel-inicio{
    background-color: red;
}*/
}

@media (max-width: 768px) {
    /*.titel-inicio{
        background-color: rgb(17, 0, 255);
    }*/
    .box-bd{
        display: none;
    }
    .box-bd-device{
        display: flex;
    }
    .box-mysql-device{
        background-image: url(../assets/mysql_back.png),linear-gradient(90deg, rgba(228,142,0,1) 27%, rgba(0,97,138,0.7707457983193278) 66%);
        background-size:contain; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
        background-repeat: no-repeat;
        flex: 2;
      }
      .box-mysql-device{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: flex 1s ease-out, opacity 0.3s ease-out;
    
    }
      .box-mongodb-device{
        background-image: url(MongoDB_Logo.svg.png),linear-gradient(90deg, rgba(8,200,92,1) 37%, rgba(9,147,78,1) 52%);
        background-size:contain; /* Ajusta el tamaño de la imagen para cubrir todo el fondo */
        background-repeat: no-repeat;
        flex: 2;
      }
      .box-mongodb-device{
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: flex 1s ease-out, opacity 0.3s ease-out;
    }
      .box-bd-device p {
        color: white;
        font-size: 8vh;
        background-color: #02455a; 
        padding: 10px; 
        cursor: pointer;
        margin-top: 10vh;
    }
    .titel-inicio {
        padding: 2vh;
    }
    .nav-box {
     height: auto; 
}
    nav ul {
        line-height: 4vh;
        flex-direction: column;
        text-align: center;
    }
    nav ul li {
        padding: 3vh 0vh 0vh 2vh;
        font-size: 4.5vh;
    }
    .login-zone{
        /*height: 57vh;
        padding: 15vh 8vh;*/
        height: 44vh;
        padding: 5vh 8vh;
    }
    .form-class{
        width: 100%;
        height: 38vh;
    }
    input[type="text"], input[type="password"] {
        font-size: 3.2vh;
    }
    .style-home h2 {
        text-align: center;
        padding: 2vh 0vh;
        font-size: 9vh;
        color: white;
        width: 100%;
    }
    .style-banner button {
        font-size: 3vh;
        margin-right: 2vh;
        padding: 1vh;
        width: 36%;
    }
    .crud-section {
        background-color: #2e3047;
        padding: 0vh;
        margin-top: 2vh;
    }
    .crud-section .buttons-design {
        font-size: 15px;
        width: 33.3%;
    }
    .crud-section section {
        width: auto;
        border: 0.5vh solid rgba(13, 67, 133, 1);
    }
    .style-form input[type="text"], .style-form input[type="password"] {
        width: 97%;
    }
    .but-agregarSubmit {
        width: unset;
    }
    .style-mostrar {
        padding: 0vh;
    }
    .style-mostrar ul {
        padding:2vh 4vh;;
    }
    .but-editarSubmit {
        font-size: 3vh;
        width: 49%;
    }
    .style-mostrar ul li p {
        width: 100%;
        font-size: 5vh;
        overflow-y: hidden;
    }
    .section-editbuttons{
        margin-top: 2vh;
    }
    .style-mostrar input[type="text"], .style-mostrar input[type="password"] {
        width: 96%;
        height: 7vh;
        padding: 1vh;
        font-size: 7vh;
    }
    .style-mostrar ul li p:nth-child(2) {
        margin-left: 0vh;
    }
    .error-message{
        width: 100%;
        margin-top: 1vh;
        font-size: 3vh;
        padding: 2vh 8vh;
    }
    .facebook-button-container {
        margin-top: 2vh;
        width: 100%;
    }

}

@media (max-width: 600px) {
 /*   .titel-inicio{
        background-color: rgb(19, 136, 35);
    }*/
}